.sources_content .soc_media.two-lines-hover-animation.element {
  z-index: 5;
}

.sources_content .speaker {
  z-index: 7 !important;
  pointer-events: none;
}

.sources_content .speaker_background {
  z-index: 6 !important;
  pointer-events: none;
}

.sources_content .dsp:hover .android {
  transform: scale(1.1) rotate(-3deg);
  transition-delay: 0.05s;
}

.sources_content .dsp:hover .point {
  transform: scale(1.1) rotate(1deg);
  transition-delay: 0.05s;
}

.sources_content .dsp:hover .p18 {
  transform: scale(1.02) rotate(3deg);
  transition-delay: 0.05s;
}

.sources_content .retargeting:hover .human {
  transform: scale(1.1) rotate(-3deg);
  transition-delay: 0.05s !important;
}

.sources_content .soc_media:hover .fb {
  transform: scale(1.1) rotate(-3deg);
  transition-delay: 0.05s;
}

.sources_content .soc_media:hover .tt {
  transform: scale(1.1) rotate(1deg);
  transition-delay: 0.05s;
}

.sources_content .soc_media:hover .tw {
  transform: scale(1.02) rotate(3deg);
  transition-delay: 0.05s;
}


.sources_content .two-lines-hover-animation .lines svg .topline,
.sources_content .two-lines-hover-animation .lines svg .botline {
  transition: 0.5s ease-out;
}

.sources_content .two-lines-hover-animation .lines svg {
  overflow: visible;
}

.sources_content .two-lines-hover-animation:hover .lines,
.sources_content .two-lines-hover-animation:hover .text {
  transform: scale(1.1) rotate(0.3deg);
}

.sources_content .two-lines-hover-animation:hover svg .topline {
  transform: translate(-42px, 7px);
}

.sources_content .two-lines-hover-animation:hover svg .botline {
  transform: translate(33px, 10px);
}

.vert_content .two-lines-hover-animation .lines svg .topline,
.vert_content .two-lines-hover-animation .lines svg .botline {
  transition: 0.5s ease-out;
}

.vert_content .two-lines-hover-animation .lines svg {
  overflow: visible;
}

.vert_content .two-lines-hover-animation:hover .lines,
.vert_content .two-lines-hover-animation:hover .text .wrap {
  transform: scale(1.1) rotate(0.3deg) !important;
}

.vert_content .two-lines-hover-animation:hover svg .topline {
  transform: translate(-42px, 7px);
}

.vert_content .two-lines-hover-animation:hover svg .botline {
  transform: translate(33px, 10px);
}





[data-aos="custom-swop-up"] path {
  stroke-dasharray: 1160;
}

[data-aos="custom-swop-up"].aos-init path {
  stroke-dasharray: 1160;
  stroke-dashoffset: 1160;
  transition-property: stroke-dashoffset;
}

[data-aos="custom-swop-up"].aos-animate path {
  stroke-dashoffset: 0 !important;
  transition: stroke-dashoffset 1s linear;
}

.vert_content [data-aos="custom-swop-up"] path {
  stroke-dasharray: 1684;
}

.vert_content [data-aos="custom-swop-up"].aos-init path {
  stroke-dasharray: 1684;
  stroke-dashoffset: 1684;
}


.we-provide__textWrapper {
  position: relative;
  z-index: 3;
}

@media (max-width: 768px) {
  .we_provide .text .p p {
    font-size: 38px !important;
  }

  .we_provide .text_wrapper svg {
    transform: scale(1, 1.45);
  }

  .we_provide .text .p {
    margin-top: 95px !important;
  }


  .cloud {
    display: block !important;
    transform: scale(0.8);
    
  }
}

@media (max-width: 700px) {
  .cloud {
    left: -60px !important;
  }

  .rock .cloud .small_text {
    font-size: 14px !important;
    left: 155px !important;
    width: 250px !important;
  }
}

@media (max-width: 525px) {
  .cloud {
    left: -80px !important;
  }

  .rock .cloud .small_text {
    left: 135px !important;
    width: 230px !important;
  }

}


.partner_grid {
  width: 100%;
  max-width: 1140px;
  padding-bottom: 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 40px;
}

.partner_element {
  position: relative;
  display: flex;
  justify-content: center;
  width: 124px;
  height: 124px;
}

.partner_element .element {
  width: auto;
  height: auto;
}

.partner_element .wrapper_first_style_1,
.partner_element .wrapper_second_style_1 {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.partner_element .wrapper_first_style_2,
.partner_element .wrapper_second_style_2 {
  padding: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  z-index: 2;
  transform: translate(-5px, 10px);
}

.partner_element .wrapper_first_style_2 {
  transform: translate(5px, 5px);
}

.partner_element .partner_logo {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  z-index: 3;
}

.partner_element img {
  width: 100%;
  height: 100%;
}

.partner_element .text_wrapper {
  position: relative;
  margin-top: calc(100%);
  transform: translateY(100%);
  text-align: center;
  width: 100%;
}

.partner_element .text {
  font-family: Marker Felt;
}


.blog.block-title {
  position: relative;
  z-index: 5 !important;
}

.blog.block-title:after,
.blog.block-title:before {

  transition: .3s ease-in-out all;
}

.blog.block-title:hover:after {
  transform: translate(-10px, 7px) rotate(-0.5deg);
}

.blog.block-title:hover:before {
  transform: translate(80px, -3px) rotate(-0.5deg);
}


.aboutUs {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  margin-bottom: 140px;
  padding-bottom: 100px;
}

.aboutUs__textWrapper {
  padding-top: 50px;
  padding-bottom: 150px;
}

.aboutUs__text {
  margin-top: 24px;
  color: #FFF;
  text-align: center;
  font-size: 28px;
  font-family: Marker Felt;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.aboutUs__text span {
  background: -webkit-linear-gradient(#FF9323, #FFF02E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutUs__secondHeader {
  position: relative;
}

.aboutUs__secondHeader .bg {
  position: relative;
}

.aboutUs-sh-left {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;

  transform: translate(-103%, -13%);
}

.aboutUs-sh-right {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;

  transform: translate(103%, -70%);
}

.aboutUs__buttons {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.aboutUs__buttons .button {
  background-image: url("data:image/svg+xml,%3Csvg width='217' height='99' viewBox='0 0 217 99' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.8592 97.3611L1.5413 21.5801L211.932 2.3182L215.579 60.3851L18.8592 97.3611Z' fill='url(%23paint0_linear_1384_12579)' stroke='black' stroke-width='2.50713'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1384_12579' x1='165.089' y1='-0.0350205' x2='177.693' y2='91.4585' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF9323'/%3E%3Cstop offset='1' stop-color='%23FFF02E'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E ");
}

.aboutUs__buttons a {
  background: linear-gradient(0deg, #000000, #000000), linear-gradient(180deg, #FF9323 0%, #FFF02E 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  text-fill-color: transparent !important;
}

.aboutUs .exc_point {
  position: absolute;
  right: -270px;
  transform: scale(0.7);
  top: -140px;
}

.aboutUs .lightning {
  position: absolute;
  left: -250px;
  transform: scale(0.9);
  top: -100px;
}

@media (max-width: 1100px) {
  .aboutUs__text {
    font-size: 22px
  }
}

@media (max-width: 768px) {
  .aboutUs {
    padding-top: 200px !important;
  }

  .aboutUs__buttons {
    flex-wrap: wrap;

    gap: 10px;

    .button {
      width: 151px;
      height: 70px;

      background-size: cover;
      a {
        font-size: 18px;
      }
    }
  }

  #sources_content {
    &.sources_content {
      display: flex !important;
      width: 100%;
      height: auto;
      top: unset;
      overflow: visible;
  
      padding-bottom: 100px;
    }

    .content {
      position: relative;
      width: 360px;
      margin: 0 auto;
      overflow: visible;
    }

    .content_background {
      padding-top: 0px;
  
      width: 100%;
      height: 500px;
      position: absolute;
      top: -100px;
      left: unset;
    }

    .content_background img {
      width: 100%;
      height: 100%;
    }

    .sources__grid {
      display: flex;
      flex-wrap: wrap;
  
      margin-top: 20px;
    }

    .speaker {
      position: absolute;
      top: 125px;
      left: -40px;
      width: auto;
      height: auto;
    }

    .speaker img {
      width: 100px;
      height: 100px;
    }

    .speaker_background {
      position: absolute;
      top: 130px;
      left: -25px;
      width: auto;
      height: auto;
    }

    .speaker_background img {
      width: 100px;
      height: 100px;
    }

    .sources__grid>div {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
  
      position: relative;
      width: 50%;
      height: 170px;
    }

    .soc_media,
    .soc_media_background_wrapper {
      width: 100%;
      height: 100%;
      top: unset;
      left: unset;
    }
  
  }

  #sources_content .soc_media_background {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  #sources_content .soc_media_background img {
    width: 100%;
    height: 100%;
  }

  #sources_content .soc_media_background_wrapper {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  #sources_content .soc_media_background_wrapper svg {
    width: 100%;
    height: 100%;
  }

  #sources_content .soc_media .tt {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 8px;

    width: unset;
    height: unset;
  }

  #sources_content .soc_media .tt img {
    width: 39px;
    height: 43px;
  }

  #sources_content .soc_media .fb {
    position: absolute;
    z-index: 4;
    left: unset;
    right: 60px;
    top: -25px;

    width: auto;
    height: auto;
  }

  #sources_content .soc_media .fb img {
    width: 40px;
    height: 43px;
  }

  #sources_content .soc_media .tw {
    position: absolute;
    z-index: 4;
    top: -5px;
    right: 15px;
    left: unset;

    width: auto;
    height: auto;
  }

  #sources_content .soc_media .tw img {
    width: 55px;
    height: 59px;
  }

  #sources_content .soc_media .lines {
    position: relatives;
    z-index: 4;

    width: auto;
    height: auto;

    top: unset;
    left: unset;

    transform: scale(0.65);
  }

  #sources_content .soc_media .text {
    position: relative;
    z-index: 4;

    width: auto;
    height: auto;

    font-size: 30px;

    top: unset;
    left: unset;
  }

  #sources_content .soc_media .text .small {
    font-size: 20px;
  }

  #sources_content .soc_media .text .big {
    font-size: 32px;
  }


  /* #sources_content .mob_user {
    order: 3;
  } */

  #sources_content .mob_user,
  #sources_content .background_wrapper {
    width: 100%;
    height: 100%;
    top: unset;
    left: unset;
  }

  #sources_content .background {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  #sources_content .background img {
    width: 100%;
    height: 100%;
  }

  #sources_content .background_wrapper {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  #sources_content .background_wrapper svg {
    width: 100%;
    height: 100%;
  }

  #sources_content .mob_user .lines {
    position: relative;
    z-index: 4;

    width: auto;
    height: auto;

    top: unset;
    left: unset;

    transform: scale(0.65);
  }

  #sources_content .mob_user .text {
    position: relative;
    z-index: 4;

    width: auto;
    height: auto;

    width: calc(100% - 40px);
    margin: 0 auto;
    font-size: 32px;
    text-align: center;

    top: unset;
    left: unset;
  }

  #sources_content .mob_user .text .small {
    font-size: 20px;
  }

  #sources_content .mob_user .text .big {
    font-size: 32px;
  }



  /* #sources_content .retargeting {
    order: 4;
  } */

  #sources_content .retargeting,
  #sources_content .background_wrapper {
    width: 100%;
    height: 100%;
    top: unset;
    left: unset;
  }

  #sources_content .background {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  #sources_content .background img {
    width: 100%;
    height: 100%;
  }

  #sources_content .background_wrapper {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  #sources_content .background_wrapper svg {
    width: 100%;
    height: 100%;
  }

  #sources_content .retargeting .human {
    position: absolute;
    z-index: 3;
    top: 40px;
    left: -8px;

    width: unset;
    height: unset;
    /* transform: scale(0.5); */
  }

  #sources_content .retargeting .human img {
    width: 39px;
    height: 43px;
  }

  #sources_content .retargeting .lines {
    position: relatives;
    z-index: 4;

    width: auto;
    height: auto;

    top: unset;
    left: unset;

    transform: scale(0.65);
  }

  #sources_content .retargeting .text {
    position: relative;
    z-index: 4;

    width: calc(100% - 50px);
    margin: 0 auto;
    height: auto;

    font-size: 30px;

    top: unset;
    left: unset;
  }

  #sources_content .retargeting .text .small {
    font-size: 20px;
  }

  #sources_content .retargeting .text .big {
    font-size: 32px;
  }



  /* #sources_content .dsp {
    order: 2;
  } */

  #sources_content .dsp,
  #sources_content .background_wrapper {
    width: 100%;
    height: 100%;
    top: unset;
    left: unset;
  }

  #sources_content .background {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  #sources_content .background img {
    width: 100%;
    height: 100%;
  }

  #sources_content .background_wrapper {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  #sources_content .background_wrapper svg {
    width: 100%;
    height: 100%;
  }

  #sources_content .dsp .android {
    position: absolute;
    z-index: 3;
    top: -10px;
    left: unset;
    right: 30px;

    width: unset;
    height: unset;
  }

  #sources_content .dsp .android img {
    width: 48px;
    height: 52px;
  }

  #sources_content .dsp .point {
    position: absolute;
    z-index: 3;
    top: unset;
    bottom: -30px;
    left: 50px;
    right: unset;

    width: unset;
    height: unset;
  }

  #sources_content .dsp .point img {
    width: 48px;
    height: 52px;
  }

  #sources_content .dsp .p18 {
    position: absolute;
    z-index: 3;
    top: unset;
    bottom: -10px;
    left: 10px;
    right: unset;

    width: unset;
    height: unset;
  }

  #sources_content .dsp .p18 img {
    width: 48px;
    height: 52px;
  }

  #sources_content .dsp .lines {
    position: relatives;
    z-index: 4;

    width: auto;
    height: auto;

    top: unset;
    left: unset;

    transform: scale(0.65);
  }

  #sources_content .dsp .text {
    position: relative;
    z-index: 4;

    width: calc(100% - 50px);
    margin: 0 auto;
    height: auto;
    text-align: center;

    font-size: 32px;

    top: unset;
    left: unset;
  }

  #sources_content .dsp .text .small {
    font-size: 20px;
  }

  #sources_content .dsp .text .big {
    font-size: 32px;
  }

  #sources_content .rocket {
    position: absolute;
    top: -60px;
    right: -120px;
    left: unset;
    width: auto;
    height: auto;
  }

  #sources_content .rocket img {
    width: 250px;
    height: 200px;
  }

  #sources_content .content .button {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 190px;
    height: 85px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 20px;

    top: unset;
    left: unset;

    background-size: cover;
    background-position: center;
    overflow: visible;
  }

  #sources_content .content .button a {
    font-size: 18px;
    height: 30px;
  }

  #sources_content .content .button:after {
    background-size: cover;
    height: calc(100% + 3px);
    width: calc(100% - 10px);
  }

  #sources_header {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    display: block;
    width: 360px;
    height: 70px;
    margin: 0 auto;
    margin-top: 60px;
  }

  #sources_header .like {
    position: absolute;
    top: -60px;
    left: 20px;
    right: unset;
    width: auto;
    height: auto;
  }

  #sources_header .like img {
    width: 100px;
    height: 80px;
  }

  #sources_header .text_wrapper,
  #sources_header .text_wrapper_background {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    top: unset;
    left: 0;
    right: 0;

    width: auto;
    height: auto;
  }

  #sources_header .text_wrapper_background {
    position: absolute;
    top: 0;
  }

  #sources_header .text_wrapper img,
  #sources_header .text_wrapper_background img {
    width: 100px;
    height: 40px
  }

  #sources_header .text {
    position: absolute;
    top: 11px;
    left: 0;
    right: 0;
    text-align: center;

    font-size: 24px;

    width: auto;
    height: auto;

  }

  #sources_header .count {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    text-align: center;

    font-size: 90px;

    width: auto;
    height: auto;
  }

  #vert_header {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    display: block;
    width: 360px;
    height: 100px;
    margin: 0 auto;
    margin-top: 60px;

    overflow: visible;
  }


  #vert_header .text_wrapper,
  #vert_header .text_wrapper_background {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    top: unset;
    left: 0;
    right: 0;

    width: auto;
    height: auto;
  }

  #vert_header .text_wrapper_background {
    position: absolute;
    top: 0;
  }

  #vert_header .text_wrapper img,
  #vert_header .text_wrapper_background img {
    width: 100px;
    height: 40px
  }

  #vert_header .text {
    position: absolute;
    top: 11px;
    left: 0;
    right: 0;
    text-align: center;

    font-size: 24px;

    width: auto;
    height: auto;
  }

  #vert_header .count {
    position: absolute;
    top: -65px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;

    font-size: 100px;

    width: auto;
    height: auto;
  }

  #vert_header .header_text_wrapper_decor {
    position: absolute;
    z-index: -2;

    display: flex;
    align-items: center;
    justify-content: center;

    top: 0px;
    left: unset;
    width: 100%;
    height: auto;
  }

  #vert_header .header_text_wrapper_decor img {
    width: 180px;
    height: 90px;
  }

  #vert_header .bomb {
    position: absolute;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;

    top: -110px;
    left: unset;
    right: -150px;
    width: 100%;
    height: auto;
  }

  #vert_header .bomb img {
    width: 250px;
  }


  #vert_content {
    display: flex;
    justify-content: space-between;
    row-gap: 10px;

    max-width: 360px;
    width: 100%;
    height: auto;
    margin: 0 auto;

    overflow: visible;

    .element {
      width: auto;
      height: auto;
    }

    &>.element:not(.bg) {
      position: relative;
      z-index: 5;
      left: unset;
      top: unset;

      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;

      width: calc(50% - 5px);
      height: 300px;

      &:hover .lines {
        .topline {
          transform: translate(10px, 7px) scale(0.7);
        }

        .botline {
          transform: translate(20px, 10px) scale(0.7);
        }
      }
    }

    .wrap {
      z-index: 2
    }

    .banner {
      z-index: 1
    }

    .banner,
    .wrap {
      position: absolute;

      width: 100%;
      height: 100%;
      top: unset;
      left: unset;

      img {
        display: block;
        z-index: 1;
        position: relative;

        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      svg {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 2;

        object-fit: cover;

        transform: scaleX(1.3);
      }
    }

    .bg {
      padding-top: 0px;

      width: 651px;
      height: 821px;
      position: absolute;
      top: 25px;
      left: 50%;
      transform: translate(-50%, 0);

      img {
        width: 100%;
        height: 100%;
      }
    }

    .corner {
      display: none;
    }

    .decor {
      position: absolute;
      left: -20px;
      top: 40%;
    }

    .first .decor {
      display: flex;
      justify-content: center;
      align-items: center;


      position: absolute;
      z-index: -1;
      left: -80px;
      top: 310px;

      img {
        width: 130px;
        height: 155px;
      }
    }

    .fourth .decor {
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      z-index: -1;
      top: -100px;
      left: unset;
      right: -80px;

      img {
        width: 100px;
        height: 100px;
      }
    }

    .lines {
      position: static;
      z-index: 4;

      width: auto;
      height: auto;

      top: unset;
      left: unset;

      transform: scale(0.7);
    }

    .text {
      position: static;
      z-index: 4;

      width: 100%;
      margin: 0 auto;
      height: auto;
      text-align: center;

      font-size: 30px;

      top: unset;
      left: unset;
    }

    .text .wrap {
      position: static;
      width: auto;
      height: auto;
      font-size: 30px;
    }
  }

  #partners_header {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    display: block;
    width: 360px;
    height: 100px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 0;

    overflow: visible;

    .header {}

    .text_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolte;
      inset: 0;
      z-index: 3;

      width: auto;
      height: auto;

      img {
        width: 100px;
        height: 40px;
      }
    }

    .text_wrapper_background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;

      display: flex;
      align-items: center;
      justify-content: center;

      width: auto;
      height: auto;

      img {
        width: 100px;
        height: 40px
      }
    }

    .text {
      position: absolute;
      top: 11px;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 2;

      font-size: 24px;

      width: auto;
      height: auto;
    }

    .count {
      position: absolute;
      top: -45px;
      left: -30px;
      right: 0;
      text-align: center;
      z-index: 1;

      font-size: 100px;

      width: auto;
      height: auto;
    }

    .header_text_wrapper_decor {
      position: absolute;
      top: -20px;
      left: unset;
      z-index: -2;

      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;

      img {
        width: 180px;
        height: 90px;
      }
    }

    .bomb {
      position: absolute;
      z-index: -1;

      display: flex;
      align-items: center;
      justify-content: center;

      top: -110px;
      left: unset;
      right: -100px;
      width: 100%;
      height: auto;

      img {
        width: 160px;
      }
    }
  }

  #partners_content {
    display: flex;
    position: static;

    .partner_grid {
      width: 100%;
      max-width: 360px;
      padding-bottom: 40px;

      row-gap: 10px;
    }

    .partner_element {
      width: 80px;
      height: 80px;
    }

    .partner_element .wrapper_first_style_1,
    .partner_element .wrapper_second_style_1 {
      padding: 10px;
    }

    .partner_element .wrapper_first_style_2,
    .partner_element .wrapper_second_style_2 {
      padding: 15px;
      transform: translate(-3px, 8px);
    }

    .partner_element .wrapper_first_style_2 {
      transform: translate(3px, 3px);
    }

    .partner_element .partner_logo {
      padding: 20px;
    }

    .partner_element img {
      width: 100%;
      height: 100%;
    }

    .partner_element .text_wrapper {
      position: relative;
      margin-top: calc(100%);
      transform: translateY(80%);
      text-align: center;
      width: 100%;

      .text {
        font-size: 12px;
      }
    }
  }

  .partners_button {
    display: flex !important;
    margin-bottom: 40px;

    .button {
      margin-top: -20px !important;
      transform: scale(0.6);
    }
  }

  .footer {
    padding-bottom: 14px !important;
  }

  .footer-wrapper {
    gap: 0px !important;
  }

  .footer-contacts {
    top: unset !important;
    display: flex !important;
    column-gap: 10px !important;
    justify-content: center !important;

    img {
      display: none;
    }

    p {
      line-height: 10px !important;
      span {
        font-size: 8px !important;
      }
      a {
        font-size: 10px !important;
      }
    }

  }
}

@media (max-width: 700px) {
  .we_provide {
    padding-top: 100px !important;
  }

  .aboutUs {
    padding-top: 150px !important;
    padding-bottom: 100px;
    margin-bottom: 30px;
  }

  .aboutUs__text {
    font-size: 14px;
  }

  .aboutUs__textWrapper {
    padding-top: 20px;
    padding-bottom: 80px;
  }

  .aboutUs__buttons {
    padding-top: 40px;
  }

  .block-header {
    transform: scale(0.7) !important;
  }
}


#source-page {
  .block-header__text {
    position: relative;
    z-index: 4;

    background: none;
    pointer-events: none;

    p {
      position: relative;
      z-index: 5;

      &:before {
        content: '';
        position: absolute;
        z-index: -1;
        background-image: url("data:image/svg+xml,%3Csvg width='203' height='88' viewBox='0 0 203 88' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.11816 23.4L192.918 3L186.155 80.446L19.577 87.6235L4.11816 23.4Z' fill='%231F2020'/%3E%3Cpath d='M17.2979 85.5888L2.87961 30.7633L200.386 2.65381L191.851 72.8562L17.2979 85.5888Z' stroke='white' stroke-width='4.18099'/%3E%3C/svg%3E ");
        width: 203px;
        height: 88px;
        top: -31px;
        left: -42px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .block-title {
    max-width: 800px;
    position: relative;
    z-index: 50;

    display: flex;
    justify-content: flex-start;

    @media (max-width: 768px) {
      margin-left: 50px;
      font-size: 32px !important;
    }

    &:before,
    &:after {
      content: none;
    }

    &__inner {
      &:hover {
        transform: scale(1.3) rotate(4deg);

        @media (max-width: 768px) {
          transform: scale(1.2) rotate(5deg);
        }

        &:before {
          transform: translate(50px, -5px) rotate(2deg);

          @media (max-width: 768px) {
            transform: translate(30px, -5px) rotate(2deg);
          }
        }

        &:after {
          transform: translate(-15px, 4px) rotate(-4deg);

          @media (max-width: 768px) {
            transform: translate(-20px, -3px) rotate(-1deg);
          }
        }
      }

      cursor: pointer;

      display: flex;
      flex-direction: column;
      justify-content: center;

      width: max-content;

      transition: all .2s linear;

      &:before {
        position: absolute;
        content: "";
        width: 70px;
        height: 3px;
        background: linear-gradient(261.97deg, #FF8200 2.57%, #FFF02E 91.69%), #FFFBFB;
        bottom: -6px;
        left: 20px;
        transform: rotate(6deg);
        transition: all .2s linear;
      }

      &:after {
        position: absolute;
        content: "";
        width: 77px;
        height: 3px;
        background: #FFFFFF;
        bottom: -6px;
        left: 10px;
        transition: all .2s linear;
      }
    }
  }

  .sources-retargeting-item {
    position: relative;
    z-index: 4;

    &[data-aos^=zoom][data-aos^=zoom].aos-animate {
      transform: none
    }
  }

  @media (max-width: 768px) {

    .promo-container {
      display: block;
      max-width: 360px;
      margin: 0 auto;
      padding: 0;
    }

    .sources-social {
      padding: 0;
      margin-top: 30px;

      &:after {
        left: -30px;
      }

      &:before {
        left: -50px;
        top: -20px;
      }

      .text {
        width: 220px;
        height: 230px;
        background: url('../img/360.svg');
        padding: 30px;

        &:after {
          bottom: -60px;
          right: 0px;

          content: '';
          width: 90px;
          height: 90px;
          background: url('../images/speaker-big.png?67f4008a8846892fc4cdf7dcdebcd1a6') center center/cover no-repeat;
        }

        &:before {
          bottom: -80px;
          right: -30px;

          content: '';
          width: 90px;
          height: 90px;
          background: url('../images/splash.png?beae4bb8baa55059bd82405f23d443b1') center center/cover no-repeat;

        }

        p {
          font-size: 14px;
          line-height: 1;
          margin-bottom: 10px;
        }
      }

      &__icon-tik {
        right: 120px;
        width: 46px;
        height: 53px;
      }

      &__icon-fb {
        right: 50px;
        top: 30px;
        width: 70px;
        height: 70px;
      }

      &__icon-tw {
        right: 120px;
        top: 80px;
        width: 70px;
        height: 70px;
      }

      &__icon-snap {
        right: 80px;
        top: 130px;
        width: 70px;
        height: 70px;
      }

      &__icon-google {
        right: 50px;
        top: 180px;
        width: 60px;
        height: 60px;
      }
    }

    .sources-social__line {
      top: 0px;
      width: 350px;
      left: -54px;
    }

    .s2 {
      display: none;
    }

    .mobil {
      display: block;
    }

    .block-title {
      display: block;
    }

    .sources-mobile {
      display: flex;
      flex-direction: column;
      margin-top: -70px;

      &__text {
        padding: 0;
        padding: 120px 50px 0;
        text-align: center;
        background: url('../img/3601.svg') center center/contain no-repeat;
        width: 360px;
        height: 224px;
        margin: 0 auto;
      }

      // scale line 0.6/32px text
      // scale line 0.6/36px text

      // font-size11/

      // blog/1

      .text {
        text-align: center;
        font-size: 15px;
        line-height: 1;
      }

      .sources-mobile__text__bottom {
        display: none;
      }
    }

    .programmatic-container {
      display: block;

      .sources-programmatic-top {
        padding-top: 40px;
        padding-bottom: 60px;
      }

      .sources-programmatic-item {
        top: unset;
        width: calc((100% - 30px) / 4);
        max-width: 120px;
        height: 100px;
        transform: scale(1.3);

        &:after {
          transform: scale(0.4);
        }

        p {
          font-size: 8px;
          line-height: 1;
          width: 100%;
          max-width: 60%;
          margin: 0 auto;
          left: 30px;
          bottom: 14px;
        }

        &.item2 p {
          bottom: 22px;
          left: 22px;
        }

        &.item3 p {
          bottom: 17px;
          left: 22px;
        }

        &.item4 p {
          bottom: 22px;
          left: 12px;
        }

        &.item1,
        &.item4 {
          top: 80px;
        }

        &.item1:after {
          left: -20px;
          bottom: -80px;
        }

        &.item2:after {
          left: 30px;
          bottom: -90px;
          transform: scale(0.4, 0.5);
        }

        &.item3:after {
          left: 20px;
          bottom: -103px;
        }

        &.item4:after {
          left: -80px;
          bottom: -100px;
        }

        &.item5 {
          width: 100%;
          max-width: none;
          top: 80px;
        }
      }
    }

    .dsp {

      .sources-programmatic-bottom {
        background-size: contain;
        background: url('../img/360/bavkback.svg') center center/cover no-repeat;
        aspect-ratio: calc(334 / 260);
        padding-top: 100px;
        max-width: 395px;

        &:before {
          content: none;
        }

        p {
          font-size: 15px;
          line-height: 1;
        }
      }

      .block-title {
        display: block;
      }
    }
  }

  .sources-mobile__icon {
    display: block;
    width: 100%;
    height: 100%;

    @media (max-width: 768px) {
      width: 40px;
      height: 40px;
    }
  }

  .slide-fade-enter-active {
    transition: all .2s ease;
  }

  .slide-fade-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

  .sources-mobile__text span {
    display: block;
    transform-origin: center top;
  }

  .slide-fade-enter-to,
  .slide-fade-leave-from {
    transform: scale(1);
    opacity: 1;
  }

  .slide-fade-enter-from,
  .slide-fade-leave-to {
    transform: scale(0.8, 0.5);
    opacity: 0;
  }
}

#cases {

  .case-icon .icon-image img {
    max-width: 82px;
  }
  @media (max-width: 768px) {
    .block-header {
      transform: scale(0.7);
    }

    .case-tab-content-wrapper {
      margin-bottom: 60px;
    }

    .icon-active {
      transform: scale(1.8) translateY(5px);

      .text {
        display: none;
      }
    }

    .icons-wrapper {
      display: block;
      width: 360px;
      margin: 0 auto;
      padding: 30px 0;
      overflow: hidden;
    }

    .sw-nav-wrapper {
      position: absolute;

    }

    .case-icon {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 70px;
      height: 70px;
    }

    .case-icon-wrap {
      width: 50px;
      height: 70px;

      .text {
        padding-top: 10px;
        font-size: 10px;
        text-align: center;
      }
    }

    .icon-image {
      display: flex;
      justify-content: center;
      align-items: center;

      background-size: contain;

      width: 100%;
      height: 50px;

      img {
        display: block;
        width: 40px;
        height: 40px;
      }
    }
  }
}

.rock {
  position: relative;
}

.promo-composition-image {
  position: absolute;
  right: -450px;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 1065px;
  opacity: 0;

  &[data-aos="slide-left"].aos-init {
    opacity: 1;
  }

  &__mask {
    position: relative;
    z-index: 2;

    display: block;
    width: 100%;
    height: 100%;
  }

  &__video {
    position: absolute;
    top: 154px;
    left: 175px;
    z-index: 1;

    width: 211px;
    height: 400px;

    border-radius: 10px;

    object-fit: fill;
    overflow: hidden;

    transform: rotate(-13.76deg);
    transition: none;

    @media (max-width: 1200px) {
      width: 140px;
      left: 115px;
      top: 102px;
      height: 265px;
    }

    @media (max-width: 700px) {
      width: 82px;
      left: 65px;
      top: 58px;
      height: 152px;
    }
  }

  @media (max-width: 1200px) {
    top: 200px;
    right: -290px;
    width: 700px;
  }

  @media (max-width: 700px) {
    width: 400px;
    left: 60%;
  }

  @media (max-width: 640px) {
    left: unset;
    right: -240px;
    top: 80px;
  }
}

#mobile_menu {
  position: fixed;
}

@media (max-width: 700px) {
  .we_provide .header {
    transform: scale(0.5) !important;
  }

  .we_provide .nav_wrap .nav .nav_element_wrap {
    transform: scale(0.8) !important;
  }

  .we_provide .nav_wrap .nav .active .gold img {
    transform: scale(0.9) !important;
  }
}

.mob_header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;

  background: rgba(0, 0, 0, 0.9);

  @media (max-width: 1100px) {
    padding: 17px 20px !important;
  }

  @media (max-width: 768px) {
    img {
      display: block !important;
    }
  }
}

@media (max-width: 768px) {
  .block-with-bg {
    position: static !important;
  }

  .rock {
    padding-top: 10px;
    margin-top: 85px;
  }

  .footer-bottom a img {
    width: 130px;
  }
}


