<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boost</title>
  <link rel="stylesheet" href="css/fonts.css?v=1.3.8">
  <link rel="stylesheet" href="css/style.css?v=1.3.8">
</head>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!--                                                   -->
<!--       ___    _____   _____      _      __  __     -->
<!--      / _ \  |_   _| | ____|    / \    |  \/  |    -->
<!--     | | | |   | |   |  _|     / _ \   | |\/| |    -->
<!--     | |_| |   | |   | |___   / ___ \  | |  | |    -->
<!--      \__\_\   |_|   |_____| /_/   \_\ |_|  |_|    -->
<!--                                                   -->
<!--             Partners of boost.app                 -->
<!--                URL: QTeam.dev                     -->
<!--                                                   -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
<body id="source-page">

<div class="rock no-bg">
  <header>
    <a href="/" class="logo">
      <div class="wrap el"><img src="img/header/logo/wrap.png"></div>
      <div class="img el"><img src="img/header/logo/logo.png"></div>
      <div class="txt el"><img src="img/header/logo/text.svg"></div>
    </a>
    <div class="links">
      <a class="link-active sources" href="sources.html">SOURCES</a>
      <a href="cases.html">CASES</a>
      <a href="blog.html">BLOG</a>
      <a  href="contacts.html">CONTACTS</a>
    </div>
    <div class="nw">
      <div class="wrap el"><img src="img/header/nw/wrap.png"></div>
      <div class="el">
        <div class="as">
          <a href="#" class="social-link skype"></a>
          <a href="#" class="social-link tg"></a>
          <a href="#" class="social-link in"></a>
          <a href="#" class="social-link inst"></a>
        </div>
      </div>
    </div>
  </header>
  <div class="mob_header">
    <a href="/" class="logo">
      <img src="img/logo-sm.png">
    </a>
    <div id="menu_toggle" class="mob_header-toggle menu-toggler"></div>

  </div>
  <div id="mobile_menu" class="mobile-menu">
    <ul>
      <li><a class="mobile-menu-link" href="sources.html">SOURCES</a></li>
      <li><a class="mobile-menu-link" href="cases.html">CASES</a></li>
      <li><a class="mobile-menu-link" href="blog.html">BLOG</a></li>
      <li><a class="mobile-menu-link" href="contacts.html">CONTACTS</a></li>

    </ul>
    <div class="social-links">
      <a href="#" class="social-link skype"></a>
      <a href="#" class="social-link tg"></a>
      <a href="#" class="social-link in"></a>
      <a href="#" class="social-link inst"></a>
    </div>
    <svg class="mobile-menu-icon" width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M18.8723 0H2.9487C1.84898 0 0.968204 0.812318 0.968204 1.81524L0.958252 12.7066C0.958252 13.7096 1.84898 14.5219 2.9487 14.5219H18.8723C19.972 14.5219 20.8627 13.7096 20.8627 12.7066V1.81524C20.8627 0.812318 19.972 0 18.8723 0ZM18.8723 12.7066H2.9487V3.63047L10.9105 8.16856L18.8723 3.63047V12.7066ZM10.9105 6.35332L2.9487 1.81524H18.8723L10.9105 6.35332Z" fill="white"/>
    </svg>
    <p class="mobile-menu-text">
      for questions about employment<br>
      <a href="mailto:hr@boost.app">hr@boost.app</a><br>

      for all requests<br>
      <a href="welcome@boost.app">welcome@boost.app</a>

    </p>
  </div>
</div>

<div id="app">
<div class="block-header">
  <div data-aos="fade-up" class="block-header__text">
    <p>sources</p>
  </div>
</div>
<div class="sources block-title">
  <div class="block-title__inner">
    <div>SOCIAL MEDIA</div>
  </div>
</div>
<div class="block-with-bg">

  <div class="sources-container promo-container">
    <div class="sources-social">
      <div class="text">
        <p data-aos="flip-up">Social media platforms have billions of active users, making it possible to reach a large audience quickly and easily.</p>
        <p data-aos="flip-up">It offers advanced targeting options, allowing businesses to reach specific audiences based on demographics, interests, behaviors, and more.</p>
        <p data-aos="flip-up">And of course, get precious leads and generate high ROI.</p>
      </div>
      <img data-aos="zoom-out-up" data-aos-delay="100" class="sources-social__icon-google" draggable="false" src="img/sources/icons/i-google.png" alt="">
      <img data-aos="zoom-out-up" data-aos-delay="150" class="sources-social__icon-fb" draggable="false" src="img/sources/icons/ico-facebook.png" alt="">
      <img data-aos="zoom-out-up" data-aos-delay="200" class="sources-social__icon-snap" draggable="false" src="img/sources/icons/i-snapchat.png" alt="">
      <img data-aos="zoom-out-up" data-aos-delay="300" class="sources-social__icon-tik" draggable="false" src="img/sources/icons/i-tiktok.png" alt="">
      <img data-aos="zoom-out-up" data-aos-delay="350" class="sources-social__icon-tw" draggable="false" src="img/sources/icons/i-twitter.png" alt="">
      <svg data-aos="zoom-out-up" data-aos-delay="500" class="sources-social__line" width="852" height="384" viewBox="0 0 852 384" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M849.718 2.80029C849.718 233.2 825.718 397.202 639.718 348.402C403.508 286.429 380.546 418.002 259.718 371.602C109.52 313.923 211.318 71.2 3.31837 126" stroke="url(#paint0_linear_1112_3222)" stroke-width="4" stroke-linecap="square" stroke-dasharray="8 8"/>
        <defs>
          <linearGradient id="paint0_linear_1112_3222" x1="-62.7079" y1="9.01101" x2="958.729" y2="-70.6374" gradientUnits="userSpaceOnUse">
            <stop stop-color="#FF8200"/>
            <stop offset="1" stop-color="#FFF02E"/>
          </linearGradient>
        </defs>
      </svg>

    </div>
 </div>
  <div class="sources-container mobil">
    <div class="sources block-title">
      <div class="block-title__inner">
        <span style="display: block;">MOBILE USER</span>
        ACQUISITION
      </div>
    </div>
    <div class="sources-mobile">
      <div data-aos="fade" class="sources-mobile__text">
        <p data-aos="flip-up" class="text">
          <!-- IronSource is a leading technology company that provides a suite of solutions for mobile app developers, advertisers, and publishers. -->
          <transition name="slide-fade" mode="out-in">
            <span :key="activeIcon">{{ allItems[activeIcon] }}</span>
          </transition>
        </p>
      <!-- <div class="sources-mobile__text__bottom">
        <div class="">
          <p data-aos="flip-up" data-aos-delay="100" class="label">Volumes:</p>
          <p data-aos="flip-up" data-aos-delay="150" class="volume">100 000</p>
        </div>
        <div class="">
          <p data-aos="flip-up" data-aos-delay="100" class="label">GEO’s:</p>
          <svg data-aos="fade-up" data-aos-delay="200" width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.46655 32.2529L3.44271 0.801865L31.8923 4.94222L31.25 28.6717L4.46655 32.2529Z" fill="#1F2020" stroke="url(#paint0_linear_1113_3730)" stroke-width="1.01067"/>
            <g clip-path="url(#clip0_1113_3730)">
              <rect width="26.7695" height="26.7695" transform="translate(0.518005 2.91309) rotate(-5.79946)" fill="#1A47B8"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M-0.842023 3.05125L-4.80844 3.4541L-4.35761 7.89285L31.1941 26.7047L35.182 26.2996L34.7312 21.8609L-0.842023 3.05125Z" fill="white"/>
              <path d="M-3.48552 3.31974L34.9179 23.6993L35.182 26.2996L33.8901 26.4309L-4.54686 6.02957L-4.80844 3.4541L-3.48552 3.31974Z" fill="#F93939"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M28.9261 0.0277987L32.4771 -0.332865L32.9279 4.10589C32.9279 4.10589 11.3656 21.2349 1.44754 29.7259L-2.10347 30.0866L-2.55429 25.6479L28.9261 0.0277987Z" fill="white"/>
              <path d="M32.4771 -0.332865L31.2728 -0.210556L-2.36547 27.507L-2.10347 30.0866L-0.780543 29.9522L32.7406 2.26205L32.4771 -0.332865Z" fill="#F93939"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.75119 2.07689L18.9484 1.04119L19.7828 9.25611L33.3114 7.88205L34.3471 18.0793L20.8185 19.4534L21.6534 27.6737L11.4562 28.7094L10.6213 20.4891L-2.93838 21.8663L-3.97408 11.669L9.58555 10.2918L8.75119 2.07689Z" fill="white"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.8907 1.85959L16.7779 1.26165L17.8183 11.5049L33.5174 9.91041L34.1417 16.0564L18.4425 17.6509L19.4829 27.8942L13.5957 28.4921L12.5553 18.2488L-3.14384 19.8433L-3.76807 13.6974L11.9311 12.1029L10.8907 1.85959Z" fill="#F93939"/>
            </g>
            <defs>
              <linearGradient id="paint0_linear_1113_3730" x1="28.1893" y1="2.77364" x2="28.1978" y2="40.3946" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FF9323"/>
                <stop offset="1" stop-color="#FFF02E"/>
              </linearGradient>
              <clipPath id="clip0_1113_3730">
                <rect width="26.7695" height="26.7695" fill="white" transform="translate(0.518005 2.91309) rotate(-5.79946)"/>
              </clipPath>
            </defs>
          </svg>
          <svg data-aos="fade-up" data-aos-delay="250" width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.46652 32.2529L3.44268 0.801865L31.8922 4.94222L31.2499 28.6717L4.46652 32.2529Z" fill="#1F2020" stroke="url(#paint0_linear_1113_3734)" stroke-width="1.01067"/>
            <g clip-path="url(#clip0_1113_3734)">
              <path d="M28.9261 0.0273105L-1.25738 3.09295C-3.21854 3.29214 -4.64691 5.04345 -4.44772 7.00461L-2.46407 26.5351C-2.26488 28.4963 -0.513567 29.9246 1.4476 29.7255L31.6311 26.6598C33.5923 26.4606 35.0206 24.7093 34.8214 22.7482L32.8378 3.21765C32.6386 1.25648 30.8873 -0.171878 28.9261 0.0273105Z" fill="#FFDA2C"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M-4.80838 3.45361L9.39562 2.01096L12.1006 28.6435L-2.1034 30.0861L-4.80838 3.45361Z" fill="#151515"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M18.2734 1.10938L32.4774 -0.333279L35.1824 26.2992L20.9784 27.7419L18.2734 1.10938Z" fill="#F93939"/>
            </g>
            <defs>
              <linearGradient id="paint0_linear_1113_3734" x1="28.1893" y1="2.77364" x2="28.1978" y2="40.3946" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FF9323"/>
                <stop offset="1" stop-color="#FFF02E"/>
              </linearGradient>
              <clipPath id="clip0_1113_3734">
                <rect width="26.7695" height="26.7695" fill="white" transform="translate(0.518005 2.91309) rotate(-5.79946)"/>
              </clipPath>
            </defs>
          </svg>
          <svg data-aos="fade-up" data-aos-delay="300" width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.46652 32.2529L3.44268 0.801865L31.8922 4.94222L31.2499 28.6717L4.46652 32.2529Z" fill="#1F2020" stroke="url(#paint0_linear_1113_3738)" stroke-width="1.01067"/>
            <g clip-path="url(#clip0_1113_3738)">
              <rect width="26.7695" height="26.7695" transform="translate(0.518005 2.91309) rotate(-5.79946)" fill="#F93939"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.794 17.8106L2.14099 18.8926L1.6 13.5661L12.253 12.4841L11.171 1.8311L16.4975 1.2901L17.5795 11.9431L38.8855 9.77912L39.4265 15.1056L18.1205 17.2696L19.2025 27.9226L13.876 28.4636L12.794 17.8106Z" fill="white"/>
            </g>
            <defs>
              <linearGradient id="paint0_linear_1113_3738" x1="28.1893" y1="2.77364" x2="28.1978" y2="40.3946" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FF9323"/>
                <stop offset="1" stop-color="#FFF02E"/>
              </linearGradient>
              <clipPath id="clip0_1113_3738">
                <rect width="26.7695" height="26.7695" fill="white" transform="translate(0.518005 2.91309) rotate(-5.79946)"/>
              </clipPath>
            </defs>
          </svg>
        </div>
      </div> -->
      </div>

        <div class="sources-mobile__icons">
          <div
            class="sources-mobile__icon"
            data-aos="zoom-out"
            :data-aos-delay="(index + 1) * 50"
            @click="activeIcon = index"
            v-for="(i , index) in this.allItems"
            :key="index"
          >
            <span :class="['sources-mobile__icon', `icon${index}`, { 'active': activeIcon === index }]"></span>
          </div>
      </div>
    </div>
</div>
  <div class="s2">
    <div class="s2-bottom">
      <div class="sources-mobile__icons">
        <div class="sources-mobile__icon "  :class="[`icon${index}`, {'active':activeIcon === index}]" @click="activeIcon=index" v-for="(i,index) in 16" :key="i"></div>
      </div>
    </div>
  </div>


  <div class="sources-container">
    <div class="sources block-title">
      <div class="block-title__inner">
        <span>USER</span>
        Retargeting
      </div>
    </div>
  </div>
  <div class="sources-retargeting">
    <div class="sources-retargeting-items">
      <div data-aos="zoom-out-down" data-aos-delay="50" class="sources-retargeting-item item1">
        <p>User Installs<br>Your App</p>
      </div>
      <div data-aos="zoom-out-down" data-aos-delay="150" class="sources-retargeting-item item2">
        <p>Make some activity and leaves without purchases</p>
      </div>
      <div data-aos="zoom-out-down" data-aos-delay="250" class="sources-retargeting-item item3">
        <p>Your retargeting
          add here</p>
      </div>
      <div data-aos="zoom-out-down" data-aos-delay="350" class="sources-retargeting-item item4">
        <p>Later they visit another app/site</p>
      </div>
      <div data-aos="zoom-out-down" data-aos-delay="100" class="sources-retargeting-item item5">
        <p>They click on it, land on your app
          and complete their purchase</p>
      </div>
      <div data-aos="zoom-out-down" data-aos-delay="150" class="sources-retargeting-item item6">
        <p>Your add appears and recaptures their interest</p>
      </div>
    </div>
  </div>

</div>
<div class="programmatic-container">



    <div class="sources-programmatic dsp">
      <div class="sources block-title">
        <div class="block-title__inner">
          <span>DSP</span>
          PROGRAMMATIC
        </div>
      </div>
      <div class="sources-programmatic-top">
        <div class="sources-programmatic-items">
          <div data-aos="zoom-out-right" data-aos-duration="400" class="sources-programmatic-item item1">
            <p>Web Visitor</p>
          </div>
          <div data-aos="zoom-out-down" data-aos-duration="400" class="sources-programmatic-item item2">
            <p>Avalible PID</p>
          </div>
          <div data-aos="zoom-out-down" data-aos-duration="400" class="sources-programmatic-item item3">
            <p>Evaluation of
              Bidders</p>
          </div>
          <div data-aos="zoom-out-left" data-aos-duration="400" class="sources-programmatic-item item4">
            <p>Real-Time
              Auction</p>
          </div>
          <div data-aos="zoom-out" data-aos-delay="200" data-aos-duration="400" class="sources-programmatic-item item5"></div>
        </div>
      </div>
      <div class="sources-programmatic-bottom">
        <p>Automated technology and algorithmic tools are utilized for media buying in programmatic advertising. The term "programmatic" refers to the process of buying and selling ad space, as well as how campaigns learn and evolve. By analyzing a range of user signals, programmatic advertising aims to deliver ads to the most relevant person, in the optimal location, and at the most effective time for maximum performance.</p>
      </div>
    </div>


</div>
<div class="block-with-bg">
  <footer class="footer">
    <div class="container">
      <div class="footer_and_form_header">
        <div class="header">
            <div data-aos="flip-up" data-aos-duration="600" class="text_wrapper element">
                <img src="img/footer_and_form/header_text_wrapper.svg">
            </div>
            <div class="text_wrapper_background element">
                <img src="img/footer_and_form/header_text_wrapper_background.svg">
            </div>
            <div class="header_text_decor element">
                <img data-aos="zoom-in" data-aos-duration="300" data-aos-delay="200" src="img/footer_and_form/header_text_decor.svg">
            </div>
            <div class="text element element">
                <div data-aos="flip-up" data-aos-duration="600" class="wrap">Contacts</div>
            </div>
        </div>
    </div>
      <div class="footer-wrapper">
        <div class="footer-form">
          <form>
            <div class="left">
              <label>Name</label>
              <input type="text">
              <label>Last name</label>
              <input type="text">
              <label>Email</label>
              <input type="text">
              <label>Phone</label>
              <input type="text">
            </div>
            <div class="right">
              <label>
                Your message
              </label>
              <textarea></textarea>
              <div class="right_row">
                <div class="">
                  <label class="checkbox-container">I consent to the processing of my personal data for marketing purposes in accordance with the privacy policy
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="">
                  <button type="submit" class="plain-btn">send</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="footer-contacts">
          <img data-aos="zoom-in-down" data-aos-duration="400" data-aos-delay="400" src="img/footer_and_form/hello.png" alt="">
          <svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.7879 0.399902H2.58787C1.26187 0.399902 0.199866 1.4739 0.199866 2.7999L0.187866 17.1999C0.187866 18.5259 1.26187 19.5999 2.58787 19.5999H21.7879C23.1139 19.5999 24.1879 18.5259 24.1879 17.1999V2.7999C24.1879 1.4739 23.1139 0.399902 21.7879 0.399902ZM21.7879 17.1999H2.58787V5.1999L12.1879 11.1999L21.7879 5.1999V17.1999ZM12.1879 8.7999L2.58787 2.7999H21.7879L12.1879 8.7999Z" fill="black"/>
          </svg>
          <p><span>for questions about employment</span>
            <a href="mailto:hr@boost.app</p>">hr@boost.app</a></p>
          <p><span>for all requests</span>
            <a href="mailto:welcome@boost.app</p>">welcome@boost.app</a></p>

        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="footer-bottom-wrapper">
          <div class="footer-bottom-menu links">
             <a href="sources.html">SOURCES</a>
            <a href="cases.html">CASES</a>
            <a href="blog.html">BLOG</a>
            <a href="contacts.html">CONTACTS</a>
          </div>
          <div class="social-links">
            <a href="#"><img src="img/header/nw/skype.svg"></a>
            <a href="#"><img src="img/header/nw/tg.svg"></a>
            <a href="#"><img src="img/header/nw/in.svg"></a>
            <a href="#"><img src="img/header/nw/isnt.svg"></a>

          </div>
          <div class="">
            <a href="#"><img src="img/footer_and_form/footer-logo.png" alt=""></a>
          </div>
        </div>
      </div>

    </div>
  </footer>



</div>
</div>
<script src="js/main.js"></script>
<script src="js/aos.js"></script>
<script src="js/animatronic.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
  const { createApp } = Vue

  createApp({
    data() {
      return {
        activeIcon: 0,
        allItems: []
      }
    },
    mounted() {
      this.initItems()
    },
    methods: {
      initItems() {
        const _templateString = 'Among the most in-demand and successful methods for gaining new users is in-app targeted advertising. We reach the goals we set by thorough data analysis, proper audience segmentation and media buying automation based on our own predictive technologies.'
        this.allItems = Array(16).fill(_templateString)
        this.allItems = this.allItems.map((item, idx) => {
          if (idx !== 0) {
            item += ` ${idx}`
          }

          return item
        })
      }
    }
  }).mount('#app')
</script>
</body>

</html>